html, body {
	margin: 0; /* Clear browser style */
	padding: 0; /* Clear browser style */
	font-family: 'PT Sans', sans-serif; /* Google font */
}

/* Link styles */

a:link, a:visited {
	color: #701112; /* Dark red */
}

a:hover {
	color: black;
	text-decoration: none;
}

a::selection {
	background: #C5BD99; /* Tan */
}

/* Site navigation styles, including responsive (side drawer) navigation styles */

#mainNav, #mobile-header {
	height: 34px;
	padding: 0 20px;
	/* Black gradient background */
	background: #45484D; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #45484D 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484D), color-stop(100%,#000000)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #45484D 0%, #000000 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #45484D 0%, #000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484D 0%, #000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484D 0%, #000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484D', endColorstr='#000000', GradientType=0); /* IE6-8 */
}

#mainNav ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid rgba(0, 0, 0, 0.35);
	border-right: 1px solid rgba(255, 255, 255, 0.09);
}

#mainNav li {
	float: left;
	border-left: 1px solid rgba(255, 255, 255, 0.09);
	border-right: 1px solid rgba(0, 0, 0, 0.35);
}

#mainNav a {
	display: block;
	padding: 8px 12px;
	color: #E6E6E6; /* Light gray */
	font-size: 13px;
	text-decoration: none;
}

#mainNav a:hover, #mobile-header a:hover {
	background-color: black;
}

#mobile-header {
	display: none;
	padding: 0 5px;
}

#mobile-header a {
	float: right;
	padding: 0 12px;
	color: #E6E6E6; /* Light gray */
	font-size: 22px;
	text-decoration: none;
}

/* Main div */

.mainDiv {
	background: #C5BD99; /* Tan background for site */
	border-top: 1px solid #DAD5BD;
	border-bottom: 1px solid #DAD5BD;
}

/* jBaquery logo placement */

.logo {
	display: block;
	width: 300px;
	margin-left: 30px;
	margin-top: 10px;
}

/* Main white div */

.contentDiv {
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: -25px; /* Bottom overlaps footer */
	z-index: 999;
	position: relative;
	padding: 5px 15px 5px 15px;
	clear: both;
	background: white;
	border-top: 1px solid rgba(250, 250, 250, 0.27);
	border-left: 1px solid rgba(2, 2, 2, 0.28);
	border-right: 1px solid rgba(2, 2, 2, 0.28);
	border-radius: 10px;
	box-shadow: -3px -2px 5px -3px rgba(59, 57, 46, 0.87), 3px -2px 5px -3px rgba(59, 57, 46, 0.87);
}

h2 {
	background: #424242; /* Dark gray */
	padding: 10px 10px 9px 10px;
	color: #E6E6E6; /* Light gray */
}

/* Carousel styles */

.fade {
	margin-top: 50px;
	margin-bottom: 50px;
}

.fade img {
	position: relative;
	width: 700px;
	height: 400px;
	margin: auto;
}

/* Text overlay */
.fade h2 {
	position: absolute;
	width: 700px;
	margin: auto;
	padding-left: 0;
	padding-right: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
}

#mobile-content {
	display: none;
	text-align: center;
}

#mobile-content img {
	width: 270px;
}

/* Image gallery styles */

#links {
	margin-bottom: 20px;
	text-align: center;
}

#links a {
	text-decoration: none;
}

/* About Us page styles */

.bakerTable {
	display: table;
}

.bakerRow {
	display: table-row;
}

.bakerCell {
	display: table-cell;
	vertical-align: middle;
	padding: 30px 20px;
}

.vertical {
	padding-left: 45px;
}

.bakerName {
	font-weight: bold;
}

.bakerDesc {
	font-style: italic;
}

/* Contact Us page styles */

#contactInfo {
	float: left;
	margin-right: 30px;
}

#map-canvas {
	width: 350px;
	height: 250px;
	background-color: #CCC; /* Gray */
}

fieldset {
	padding: 20px 25px 20px 20px;
	margin-bottom: 20px;
}

.field {
	margin-bottom: 20px;
}

input:not([type="submit"]), textarea {
	width: 100%;
}

textarea {
	resize: none;
}

input[type="submit"] {
	display: block;
	padding: 5px 10px;
	font-size: 14px;
}

/* Form error message styles */

form label.error {
	color: #F00; /* Red */
	font-weight: bold;
}

form input.error, form textarea.error {
	background: #FFA9B8; /* Light red */
	border: 1px solid red;
}

/* Set z-index of jQuery UI dialog higher than #contentDiv */
.ui-dialog {
	z-index: 1000 !important;
}

/* Acknowledgements page styles */

.acknowledgementList {
	padding-left: 30px;
	padding-right: 30px;
}

.acknowledgementList li {
	list-style: none;
}

.acknowledgementList li:before {
	position: relative;
	padding-right: .25em;
	top: .1em;
	font-size: 1.2em;
	content: '\2022'; /* /2022 is the numerical unicode for &bull; */
	color: #424242; /* Dark gray */
}

/* Footer styles */

footer {
	padding: 40px 0 10px 0;
	color: #777; /* Gray */
	font-size: 11px;
	text-align: center;
	/* Black gradient background */
	background: #45484D; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #45484D 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484D), color-stop(100%,#000000)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #45484D 0%, #000000 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #45484D 0%, #000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484D 0%, #000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484D 0%, #000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484D', endColorstr='#000000', GradientType=0); /* IE6-8 */
}

footer a:link, footer a:visited {
	color: #777; /* Gray */
	text-decoration: none;
}

footer a:hover {
	color: white;
}

/* Media query */

@media only screen and (max-width: 855px) {
	/* Show mobile site navigation */
	#mobile-header {
		display: block;
	}

	/* Hide regular site navigation */
	#mainNav {
		display: none;
	}

	/* Center logo */
	.logo {
		margin-left: auto;
		margin-right: auto;
	}

	/* Shrink content width */
	.contentDiv {
		width: 86%;
	}

	.contentDiv h2 {
		text-align: center;
	}

	.contentDiv p {
		text-align: center;
	}

	/* On home page, hide the carousel and show each image and description in their own separate section */

	.fade {
		display: none;
	}

	#mobile-content {
		display: block;
	}

	/* For image galleries, make images smaller */
	#links img {
		height: 180px;
	}

	/* About Us page */
	/* Baker image div should be on top of baker name/description div instead of side-by-side */

	.bakerTable {
		display: block;
	}

	.bakerRow {
		display: block;
	}

	.bakerCell {
		display: block;
		padding: 0;
		text-align: center;
	}

	.vertical {
		padding-left: 0;
	}

	/* Contact Us page */
	/* Contact information div should be on top of Contact Us form instead of side-by-side */

	#contactInfo {
		float: none;
		margin-right: 0;
	}

	#map-canvas {
		width: 270px;
		margin-left: auto;
		margin-right: auto;
	}

	/* "Please send us your questions and comments!" is more distinct */
	h4 {
		background: #424242; /* Dark gray */
		padding: 10px 10px 9px 10px;
		color: #E6E6E6; /* Light gray */
		text-align: center;
	}
}
